<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p>Posted by {{user.username}} on {{format_date date_created}}</p>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h4>New Comment:</h4>

    <form class="form new-comment-form" id="new-comment-form">
      <div class="form-group">
        <textarea class="form-input" id="comment-content" name="comment-content"></textarea>
      </div>
      <div class="form-group new-comment-btn">
        <button type="submit" class="btn btn-sm btn-primary" id="new-comment-btn">Post Comment</button>
      </div>
    </form>
  </div>

  <div class="col-md-6 comment-list" id="comment-list">
    {{#if comments.length}}

    <h3>Current Comments:</h3>

    {{#each comments as |comment|}}
    <div class="container container-fluid mb-2">
      <div class="col-md-8">
        <p>{{comment.comment_content}} </p>
        <p>By {{user.username}} on {{format_date date_created}}</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger comment-delete" data-id-two="{{comment.id}}">Delete</button>
      </div>
    </div>
    {{/each}}
    {{/if}}
  </div>

</div>
<script src="/js/Comment.js"></script>